<!DOCTYPE HTML>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{software.edit.headline}]]</title>
</head>
<body>
<div layout:fragment="content">
    <div class="d-flex flex-wrap mb-4">
        <h1 class="flex-grow-1">[[#{software.edit.headline}]]</h1>
        <div>
            <a th:href="@{/softwares}" class="btn btn-secondary">[[#{software.edit.back}]]</a>
        </div>
    </div>
    <div th:replace="~{fragments/forms::globalErrors('software')}"></div>
    <form th:action="${requestUri}" method="post" novalidate>
        <div th:replace="~{fragments/forms::inputRow(object='software', field='id', disabled=true, type='number')}"></div>
        <div th:replace="~{fragments/forms::inputRow(object='software', field='code')}"></div>
        <div th:replace="~{fragments/forms::inputRow(object='software', field='name', required=true)}"></div>
        <input type="submit" th:value="#{software.edit.headline}" class="btn btn-primary mt-4" />
    </form>
</div>
</body>
</html>
