<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en"
      layout:decorate="~{layout}">
<head>
    <title>Control Panel</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">Control Panel</h1>
        <p class="mb-5" sec:authorize="hasRole('ROLE_SWAGGER_ACCESS')">
            <span>Swagger is</span>
            <a th:href="@{/swagger-ui.html}" target="_blank">available here</a>.
        </p>
        <div class="col-md-4 mb-5">
            <h4 class="mb-3">Menu</h4>
            <div class="list-group">
                <a th:href="@{/departments}"
                   sec:authorize="hasAnyRole('ROLE_DEPARTMENT_VIEW', 'ROLE_DEPARTMENT_MANAGE')"
                   class="list-group-item list-group-item-action">Departments</a>
                <a th:href="@{/users}"
                   sec:authorize="hasAnyRole('ROLE_USER_VIEW', 'ROLE_USER_MANAGE')"
                   class="list-group-item list-group-item-action">Users</a>
                <a th:href="@{/versions}"
                   sec:authorize="hasAnyRole('ROLE_VERSION_VIEW', 'ROLE_VERSION_MANAGE')"
                   class="list-group-item list-group-item-action">Versions</a>
                <a th:href="@{/deploys}"
                   sec:authorize="hasAnyRole('ROLE_DEPLOY_VIEW', 'ROLE_DEPLOY_MANAGE')"
                   class="list-group-item list-group-item-action">Deploys</a>
                <a th:href="@{/stakeholders}"
                   sec:authorize="hasAnyRole('ROLE_STAKEHOLDER_VIEW', 'ROLE_STAKEHOLDER_MANAGE')"
                   class="list-group-item list-group-item-action">Stakeholders</a>
                <a th:href="@{/softwares}"
                   sec:authorize="hasAnyRole('ROLE_APPLICATION_VIEW', 'ROLE_APPLICATION_MANAGE')"
                   class="list-group-item list-group-item-action">Applications</a>
            </div>
        </div>
    </div>
</body>
</html>
