<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tesserarius</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Tesserarius</h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col">
                <div class="form-group">
                    <label for="contentMemo" th:text="${contentTile}"></label>
                    <textarea id="contentMemo" class="form-control" th:text="${content}" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <form th:action="@{/}" method="post">
                    <input type="submit" class="btn btn-primary" value="Send E-mail" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>