<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      data-bs-theme="light">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $LAYOUT_TITLE">E-mail Service</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/flatpickr/dist/flatpickr.min.css}" rel="stylesheet" />
    <link th:href="@{/static/css/app.css}" rel="stylesheet" />
    <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
    <script th:src="@{/webjars/htmx.org/dist/htmx.min.js}" defer></script>
    <script th:src="@{/webjars/flatpickr/dist/flatpickr.min.js}" defer></script>
    <script th:src="@{/static/js/app.js}" defer></script>
</head>
<body hx-boost="true">
    <header id="main-header" data-bs-theme="dark">
        <div class="container">
            <nav class="navbar navbar-expand-md">
                <a th:href="@{/}" class="navbar-brand">
                    <img th:src="@{/static/images/logo.svg}" alt="Tabellarius" width="30" height="30" class="d-inline-block align-top" style="filter: invert(100%);">
                    <span class="ps-1">E-mail Service</span>
                </a>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
                        aria-label="Toggle navigation" aria-controls="navbarToggle" aria-expanded="false">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <ul class="navbar-nav ms-auto">
                        <li class="navbar-item">
                            <a th:href="@{/}" class="nav-link">Home</a>
                        </li>
                        <li class="navbar-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" id="navbarEntitiesLink" role="button"
                                    aria-expanded="false">Menu</a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarEntitiesLink">
                                <li><a th:href="@{/departments}" class="dropdown-item">Departments</a></li>
                                <li><a th:href="@{/users}" class="dropdown-item">Users</a></li>
                                <li><a th:href="@{/versions}" class="dropdown-item">Versions</a></li>
                                <li><a th:href="@{/deploys}" class="dropdown-item">Deploys</a></li>
                                <li><a th:href="@{/stakeholders}" class="dropdown-item">Stakeholders</a></li>
                                <li><a th:href="@{/softwares}" class="dropdown-item">Applications</a></li>
                            </ul>
                        </li>
                        <li class="navbar-item">
                            <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="nav-link">Login</a>
                            <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post" class="nav-link">
                                <input value="Logout" type="submit" class="unset" />
                            </form>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <main class="my-5">
        <div class="container">
            <!--/*@thymesVar id="MSG_SUCCESS" type="java.lang.String"*/-->
            <!--/*@thymesVar id="MSG_INFO" type="java.lang.String"*/-->
            <!--/*@thymesVar id="MSG_ERROR" type="java.lang.String"*/-->
            <p th:if="${MSG_SUCCESS}" class="alert alert-success mb-4" role="alert">[[${MSG_SUCCESS}]]</p>
            <p th:if="${MSG_INFO}" class="alert alert-info mb-4" role="alert">[[${MSG_INFO}]]</p>
            <p th:if="${MSG_ERROR}" class="alert alert-danger mb-4" role="alert">[[${MSG_ERROR}]]</p>
            <div layout:fragment="content"></div>
        </div>
    </main>
</body>
</html>
