<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>[[#{authentication.login.headline}]]</title>
</head>
<body>
    <div layout:fragment="content">
        <h1 class="mb-4">[[#{authentication.login.headline}]]</h1>
        <div th:replace="~{fragments/forms::globalErrors('authentication')}"></div>
        <form th:action="${requestUri}" method="post" novalidate>
            <div th:replace="~{fragments/forms::inputRow(object='authentication', field='username', required=true)}"></div>
            <div th:replace="~{fragments/forms::inputRow(object='authentication', field='password', required=true, type='password')}"></div>
            <div th:replace="~{fragments/forms::inputRow(object='authentication', field='rememberMe', type='checkbox')}"></div>
            <input type="submit" th:value="#{authentication.login.headline}" class="btn btn-primary mt-4" />
        </form>
    </div>
</body>
</html>
