<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Utils</title>
</head>
    <body>
        <!--/*@thymesVar id="requestUri" type="java.lang.String"*/-->

        <div th:fragment="fieldErrors(object, field)" th:object="${__${object}__}" th:remove="tag">
            <div th:if="${#fields.hasErrors(field) || #fields.hasErrors(field + '*')}" class="invalid-feedback d-block">
                <p th:each="fieldError : ${#fields.detailedErrors(field + '*')}" class="mb-0"
                        >[[${(fieldError.fieldName != field ? fieldError.fieldName + ': ' : '') + fieldError.message}]]</p>
            </div>
        </div>

        <div th:fragment="globalErrors(object)" th:object="${__${object}__}" th:remove="tag">
            <div th:if="${#fields.hasGlobalErrors()}" class="invalid-feedback d-block">
                <p th:each="globalError : ${#fields.globalErrors()}" class="mb-0">[[${globalError}]]</p>
            </div>
        </div>
    </body>
</html>
